@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .byline-line-numbers-right .cm-scroller {
    flex-direction: row-reverse;
  }

  .byline-line-numbers-auto-hide .cm-gutters {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 20;
    transition: transform 150ms ease-out;
  }

  .byline-line-numbers-left.byline-line-numbers-auto-hide .cm-gutters {
    left: 0;
    transform: translateX(-100%);
  }

  .byline-line-numbers-right.byline-line-numbers-auto-hide .cm-gutters {
    right: 0;
    transform: translateX(100%);
  }

  .byline-line-numbers-auto-hide.byline-line-numbers-visible .cm-gutters {
    transform: translateX(0);
  }
}
