@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
    background-color: #121314;
    --byline-font-size: 12px;
    --byline-line-height: 18px;
    --byline-menu-height: 36px;
  }

  html,
  body,
  #root {
    min-height: 100%;
    background-color: #121314;
  }
}

@layer components {
  .byline-mouse-reveal-edge-trigger {
    pointer-events: none;
  }

  @media (any-hover: hover) and (any-pointer: fine) {
    .byline-font-style-control-hover:hover {
      background-color: #242526;
      color: #D4D4D4;
    }

    .byline-mouse-reveal-edge-trigger {
      pointer-events: auto;
    }
  }
}
